# Configure backends on the lines below.
# Each line should take the format
# Species <tab> Configuration string
# Multiple configuration strings per species are allowed.

Anopheles gambiae	idmapper-pgdb:/opt/bridgedb-databases/Ag_Derby_Ensembl_Metazoa_39.bridge
#Aspergillus niger	idmapper-pgdb:/opt/bridgedb-databases/An_Derby_Ensembl_Fungi_39.bridge
Arabidopsis thaliana	idmapper-pgdb:/opt/bridgedb-databases/At_Derby_Ensembl_Plant_39.bridge
Bacillus subtilis	idmapper-pgdb:/opt/bridgedb-databases/Bs_Derby_Ensembl_91.bridge
Bos taurus	idmapper-pgdb:/opt/bridgedb-databases/Bt_Derby_Ensembl_91.bridge
Caenorhabditis elegans	idmapper-pgdb:/opt/bridgedb-databases/Ce_Derby_Ensembl_91.bridge
Canis familiaris	idmapper-pgdb:/opt/bridgedb-databases/Cf_Derby_Ensembl_91.bridge
#Ciona intestinalis	idmapper-pgdb:/opt/bridgedb-databases/Ci_Derby_Ensembl_91.bridge
Drosophila melanogaster	idmapper-pgdb:/opt/bridgedb-databases/Dm_Derby_Ensembl_91.bridge
Danio rerio	idmapper-pgdb:/opt/bridgedb-databases/Dr_Derby_Ensembl_91.bridge
Escherichia coli	idmapper-pgdb:/opt/bridgedb-databases/Ec_Derby_Ensembl_91.bridge
Gallus gallus	idmapper-pgdb:/opt/bridgedb-databases/Gg_Derby_Ensembl_91.bridge
#Glycine max	idmapper-pgdb:/opt/bridgedb-databases/Gm_Derby_Ensembl_Plant_39.bridge
Gibberella zeae	idmapper-pgdb:/opt/bridgedb-databases/Gz_Derby_Ensembl_Fungi_39.bridge
Homo sapiens	idmapper-pgdb:/opt/bridgedb-databases/Hs_Derby_Ensembl_91.bridge
#Hordeum vulgare	idmapper-pgdb:/opt/bridgedb-databases/Hv_Derby_Ensembl_Plant_39.bridge
#Macaca mulatta	idmapper-pgdb:/opt/bridgedb-databases/Ml_Derby_Ensembl_91.bridge
Mus musculus	idmapper-pgdb:/opt/bridgedb-databases/Mm_Derby_Ensembl_91.bridge
#Mycobacterium tuberculosis	idmapper-pgdb:/opt/bridgedb-databases/Mx_Derby_Ensembl_91.bridge
#Ornithorhynchus anatinus	idmapper-pgdb:/opt/bridgedb-databases/Oa_Derby_Ensembl_91.bridge
#Oryza sativa Indica	idmapper-pgdb:/opt/bridgedb-databases/Oi_Derby_Ensembl_Plant_39.bridge
Oryza sativa Japonica	idmapper-pgdb:/opt/bridgedb-databases/Oj_Derby_Ensembl_Plant_39.bridge
#Populus trichocarpa	idmapper-pgdb:/opt/bridgedb-databases/Pi_Derby_Ensembl_Plant_39.bridge
Pan troglodytes	idmapper-pgdb:/opt/bridgedb-databases/Pt_Derby_Ensembl_91.bridge
#Equus caballus	idmapper-pgdb:/opt/bridgedb-databases/Qc_Derby_Ensembl_91.bridge
Rattus norvegicus	idmapper-pgdb:/opt/bridgedb-databases/Rn_Derby_Ensembl_91.bridge
Saccharomyces cerevisiae	idmapper-pgdb:/opt/bridgedb-databases/Sc_Derby_Ensembl_91.bridge
#Solanum lycopersicum	idmapper-pgdb:/opt/bridgedb-databases/Sl_Derby_Ensembl_Plant_39.bridge
#Sus scrofa	idmapper-pgdb:/opt/bridgedb-databases/Ss_Derby_Ensembl_91.bridge
#Vitis vinifera	idmapper-pgdb:/opt/bridgedb-databases/Vv_Derby_Ensembl_Plant_39.bridge
#Xenopus tropicalis	idmapper-pgdb:/opt/bridgedb-databases/Xt_Derby_Ensembl_91.bridge
Zea mays	idmapper-pgdb:/opt/bridgedb-databases/Zm_Derby_Ensembl_Plant_39.bridge


#Metabolites
*	idmapper-pgdb:/opt/bridgedb-databases/metabolites-20210109.bridge
*	idmapper-pgdb:/opt/bridgedb-databases/humancorona-2020-05-27.bridge
*	idmapper-pgdb:/opt/bridgedb-databases/complexes_20200510.bridge
*	idmapper-pgdb:/opt/bridgedb-databases/interactions20210109.bridge
*	idmapper-pgdb:/opt/bridgedb-databases/publications_20201121.bridge



# Databases configured with an asterisk instead of the species name
# Will be mixed in for each species

#*       idmapper-pgdb:/home/martijn/PathVisio-Data/gene databases/metabolites_081205.pgdb

[Drivers]
# Optional BridgeDb and JDBC drivers can be listed here
# Make sure these drivers are in the server class-path.

# org.bridgedb.webservice.biomart.IDMapperBiomart
# org.bridgedb.webservice.synergizer.IDMapperSynergizer

