# Configure backends on the lines below.
# Each line should take the format
# Species <tab> Configuration string
# Multiple configuration strings per species are allowed.

Anopheles gambiae	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Ag_Derby_Ensembl_Metazoa_39.bridge
Aspergillus niger	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/An_Derby_Ensembl_Fungi_39.bridge
Arabidopsis thaliana	idmapper-pgdb:/opt/bridgedb-databases/www/bridgedb.org/data/gene_database/At_Derby_Ensembl_Plant_39.bridge
Bacillus subtilis	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Bs_Derby_Ensembl_91.bridge
Bos taurus	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Bt_Derby_Ensembl_91.bridge
Caenorhabditis elegans	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Ce_Derby_Ensembl_91.bridge
Canis familiaris	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Cf_Derby_Ensembl_91.bridge
Ciona intestinalis	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Ci_Derby_Ensembl_91.bridge
Drosophila melanogaster	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Dm_Derby_Ensembl_91.bridge
Danio rerio	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Dr_Derby_Ensembl_91.bridge
Escherichia coli 	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Ec_Derby_Ensembl_91.bridge
Gallus gallus	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Gg_Derby_Ensembl_91.bridge
Glycine max	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Gm_Derby_Ensembl_Plant_39.bridge
Gibberella zeae	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Gz_Derby_Ensembl_Fungi_39.bridge
Homo sapiens	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Hs_Derby_Ensembl_91.bridge
Hordeum vulgare	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Hv_Derby_Ensembl_Plant_39.bridge
Macaca mulatta	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Ml_Derby_Ensembl_91.bridge
Mus musculus	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Mm_Derby_Ensembl_91.bridge
Mycobacterium tuberculosis	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Mx_Derby_Ensembl_91.bridge
Ornithorhynchus anatinus	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Oa_Derby_Ensembl_91.bridge
Oryza sativa Indica	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Oi_Derby_Ensembl_Plant_39.bridge
Oryza sativa Japonica	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Oj_Derby_Ensembl_Plant_39.bridge
Populus trichocarpa	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Pi_Derby_Ensembl_Plant_39.bridge
Pan troglodytes	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Pt_Derby_Ensembl_91.bridge
Equus caballus	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Qc_Derby_Ensembl_91.bridge
Rattus norvegicus	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Rn_Derby_Ensembl_91.bridge
Saccharomyces cerevisiae	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Sc_Derby_Ensembl_91.bridge
Solanum lycopersicum	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Sl_Derby_Ensembl_Plant_39.bridge
Sus scrofa	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Ss_Derby_Ensembl_91.bridge
Vitis vinifera	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Vv_Derby_Ensembl_Plant_39.bridge
Xenopus tropicalis	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Xt_Derby_Ensembl_91.bridge
Zea mays	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/Zm_Derby_Ensembl_Plant_39.bridge
  

*	idmapper-pgdb:/opt/bridgedb-databases/www.bridgedb.org/data/gene_database/metabolites-20180809.bridge

# Databases configured with an asterisk instead of the species name
# Will be mixed in for each species

#*       idmapper-pgdb:/home/martijn/PathVisio-Data/gene databases/metabolites_081205.pgdb

[Drivers]
# Optional BridgeDb and JDBC drivers can be listed here
# Make sure these drivers are in the server class-path.

# org.bridgedb.webservice.biomart.IDMapperBiomart
# org.bridgedb.webservice.synergizer.IDMapperSynergizer

