name: Docker build

on:
  repository_dispatch:
    types: [update-event]
  workflow_dispatch:
  push:
    branches: [ "master" ]
    paths:
     - 'setup.sh'
     - 'startup.sh'
     - 'Dockerfile'
  pull_request:
    branches: [ "master" ]
    paths:
     - 'setup.sh'
     - 'startup.sh'
     - 'Dockerfile'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Retrieve JAR version name
        run: |
            wget https://raw.githubusercontent.com/bridgedb/BridgeDbWebservice/main/pom.xml
            echo "BDBVERSION=$(cat pom.xml | grep -m 1 -oP "(?<=<bridgedb-version>).*" | sed 's|</bridgedb-version>||g')" >> $GITHUB_ENV 
      -
        name: Retrieve WebService version name
        run: |
            wget https://raw.githubusercontent.com/bridgedb/BridgeDbWebservice/main/pom.xml
            echo "BDBWSVERSION=$(cat pom.xml | grep -m 1 -oP "(?<=<version>).*" | sed 's|</version>||g')" >> $GITHUB_ENV 
            
      - name: Update setup.sh with BDBWSVERSION
        run: |
            cat setup.sh | sed 's|BRIDGEDBWSVERSION=".\+"|BRIDGEDBVERSION="${{ env.BDBWSVERSION }}"|g' > setup.sh
      
#      - name: Echo new BDBVERSION (debug)
#        run: |
#  
#            echo New release tag: ${{ env.BDBWSVERSION }}
                      
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: bigcatum/bridgedb:${{ env.BDBVERSION }}-${{ env.BDBWSVERSION }}

      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: bigcatum/bridgedb:latest
